@font-face {
	font-family: 'DINPro-Light';
	src: url('DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('DINPro-Light.otf') format('opentype'), url('DINPro-Light.woff')
		format('woff'), url('DINPro-Light.ttf') format('truetype'),
		url('DINPro-Light.svg#DINPro-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}