@import
	url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic')
	;

body {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px;
}

.select2-container--krajee .select2-selection--single {
	height: 45px;
	line-height: 1.8;
	padding: 6px 24px 6px 12px;
	font-size: 17px;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow
	{
	border: none;
	border-left: 1px solid #aaa;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	position: absolute;
	height: 44px;
	top: 1px;
	right: 1px;
	width: 20px;
}