.tg-title
{
	padding-top: 5px;
}

.tg-summary
{
	text-align: right;
	padding-top: 7px;
}

.table
{ 
	a
	{
		cursor: pointer;
	}

	tr.parent-tr
	{
		&.tr-level-0
		{
			background: #ccc !important;
		}
		
		&.tr-level-1
		{
			background: #eee !important;
			.neast-td
			{
				background: url("../img/level-1.png") repeat-y !important;
				padding-left: 35px;
			}
		}
		
		&.tr-level-2
		{
			background: #F8F8F8 !important;
			.neast-td
			{
				background: url("../img/level-2.png") repeat-y !important;
				padding-left: 55px;
			}
		}
		
		td
		{
			border: 0;
		}
		
		&:hover
		{
			background: #CFECEC !important;
		}
	}

	.neast-td
	{
		padding-left: 5px;
		
		&.level-1
		{
			padding-left: 20px;
		}
		
		&.level-2
		{
			padding-left: 40px;
		}
	}
}

.position-wrap
{
	width: 500px;
	
	li
	{
		list-style:none;
		padding: 5px 0 0 0;
		margin-left: 0;
		
		.name-wrap
		{
			display: block;
			text-align: left;
			
			.name
			{
				float: left;
			}
			
			.glyphicon
			{
				float: right;
				margin-top: 2px;
			}
		}
	}
	
	.e-sortable-highlight
	{
		background-color: #FFF8DC;
		border: 1px dashed #ffeb8e
	}
}