@import
	url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic')
	;

body {
	font-family: 'Roboto', sans-serif !important;
	font-size: 15px;
	background-color: #f6f6f6;
	color: #444444;
}

.bg-red {
	background-color: #ea2c25;
}

.bg-white {
	background-color: #fff;
}

.btn-red {
	background-color: #ea2c25;
	color: #fff;
	display: inline-block;
}

.text-white {
	color: #fff;
}

header {
	background-color: #fff;
	box-shadow: 0 6px 6px #eee;
}

.top-bar {
	padding: 7px 20px;
	border-bottom: 1px solid #ddd;
}

.top-bar ul {
	list-style-type: none;
	margin: 0;
}

.top-bar ul li {
	border-left: 1px solid #ddd;
	padding: 0 15px;
	display: inline-block;
}

.top-bar ul li:first-of-type {
	border-left: none;
}

.header-bar {
	padding: 15px;
}

.top-menu li a {
	color: #444444;
	font-size: 16px;
}

.recent-posts {
	padding: 25px 0;
	line-height: 3;
}

#recent-slider-wrap {
	position: relative;
}

#recent-slider-wrap .slider-controls {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 30px;
	line-height: 1.45;
	z-index: 99;
	user-select: none;
}

#recent-slider-wrap .slider-controls i {
	padding: 0 3px;
	margin: 0 5px;
	color: #828282;
	cursor: pointer;
	transition-duration: .3s;
}

#recent-slider-wrap .slider-controls i:hover {
	color: #444;
}

.main-slider-item {
	position: relative;
	height: 380px;
}

.main-slider-item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.main-slider-item-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	bottom: 0;
	text-align: center;
}

.main-slider-item-text>h3 {
	position: absolute;
	width: 100%;
	bottom: 50px;
}

#main-slider .owl-dots {
	bottom: 20px;
	position: absolute;
	left: 0;
	width: 50%;
}

#main-slider.owl-theme .owl-dots .owl-dot span {
	width: 13px;
	height: 13px;
	background: #444;
	margin: 3px 5px;
}

#main-slider.owl-theme .owl-dots .owl-dot.active span {
	background: #ea2c25;
}

ul.tabs {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
}

ul.tabs li {
	display: table-cell;
	width: 33.33%;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #ddd;
}

ul.tabs li:first-of-type {
	border-left: none;
}

ul.tabs li.active {
	background: #ea2c25;
}

ul.tabs li.active a {
	color: #fff;
}

ul.tabs li a {
	color: #444;
	font-size: 16px;
	line-height: 1;
	padding: 10px 0;
	display: block;
}

.tabs-widget ul.tabs li a {
	padding: 5px 0;
}

ul.tabs li a:hover {
	text-decoration: none;
}

ul.tabs li a:focus {
	outline: none;
}

.tabs-widget .tab-pane {
	padding: 15px;
}

.tabs-widget ol, .tabs-widget ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: decimal;
}

.tabs-widget ol li, .tabs-widget ul li {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}

.tabs-widget ol li:last-of-type, .tabs-widget ul li:last-of-type {
	border-bottom: none;
}

.last-news-wrap {
	padding: 15px;
}

.last-news-item {
	margin-bottom: 34px;
	cursor: pointer;
}

.last-news-item h5 {
	margin-bottom: 5px;
}

.last-news-item time {
	font-size: 12px;
	color: #888;
}

.last-events-item {
	margin-bottom: 20px;
	position: relative;
}

.last-events-item .last-events-item-header {
	background-color: #fff;
	padding: 5px 20px 10px 20px;
	line-height: 2;
}

.last-events-item .last-events-item-header time {
	font-size: 14px;
	color: #888;
}

.last-events-item .last-events-item-image {
	height: 250px;
	background-size: cover;
	background-position: 50%;
}

.last-events-item.item-inline .last-events-item-image {
	float: left;
	width: 30%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: auto;
}

.last-events-item.item-inline .last-events-item-header {
	float: right;
	width: 70%;
}

.anounce-item {
	font-size: 14px;
	background-color: #fff;
	padding: 10px 20px;
	margin-bottom: 30px;
}

.anounce-item time {
	font-size: 14px;
	color: #888;
}

footer {
	background-color: #444444;
	padding: 30px 0;
	color: #fff;
}

footer .col-md-5, footer .col-md-2 {
	margin: 10px 0;
}

.social-wrap a img {
	margin: 0 6px;
	display: inline-block;
}

@media screen and (max-width: 1200px) {
	.nav>li>a {
		padding: 19.5px 10px;
	}
}

@media screen and (max-width: 768px) {
	.nav>li>a {
		padding: 10px;
	}
	.top-bar .pull-left {
		float: none !important;
		text-align: center;
		padding-bottom: 10px;
	}
	.top-bar .pull-right {
		float: none !important;
	}
	.top-bar .pull-right ul {
		padding-left: 0;
		text-align: center;
	}
	.main-slider-item {
		height: 200px;
	}
}

@media screen and (max-width: 400px) {
	.main-slider-item {
		height: 150px;
	}
	.main-slider-item .main-slider-item-text h3 {
		font-size: 13px;
	}
	.item-inline .last-events-item-header {
		width: 60%;
	}
	.item-inline .last-events-item-image {
		width: 40%;
	}
}

.soroca-front a.btn {
	text-decoration: none;
	color: #fff;
}

.soroca-front a {
	text-decoration: none;
	color: inherit;
}

.soroca-front a:focus, .soroca-front a:hover {
	text-decoration: none;
	color: inherit;
}

.soroca-front {
	min-height: 100vh;
}

.nav.navbar-nav ul {
	border: 3px solid #ecf0f1;
	position: absolute;
	left: 0px;
	padding: 0;
	top: 100%;
	border-bottom: 2px solid #ecf0f1;
	list-style: none;
	visibility: hidden;
	opacity: 0;
	transition-duration: .4s;
	z-index: 9999;
	background-color: #ecf0f1;
	min-width: 200px;
}

.nav.navbar-nav li:hover ul {
	visibility: visible;
	opacity: 1;
}

.nav.navbar-nav li ul li a {
	padding: 5px 10px;
	display: block;
}

.nav.navbar-nav li ul li a:hover {
	background-color: #eee;
}

.nav>li:focus, .nav>li:hover {
	background-color: #ecf0f1;
}