@font-face {
	font-family: 'DINPro-Medium';
	src: url('DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('DINPro-Medium.otf') format('opentype'), url('DINPro-Medium.woff')
		format('woff'), url('DINPro-Medium.ttf') format('truetype'),
		url('DINPro-Medium.svg#DINPro-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}