@font-face {
	font-family: 'DINPro-Black';
	src: url('DINPro-Black.eot?#iefix') format('embedded-opentype'),
		url('DINPro-Black.otf') format('opentype'), url('DINPro-Black.woff')
		format('woff'), url('DINPro-Black.ttf') format('truetype'),
		url('DINPro-Black.svg#DINPro-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}